body {
  opacity: 0;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAQAAAD8IX00AAAAE0lEQVR4AWNgYNgsvRlCgCgwBAA6YQXPi9F1OAAAAABJRU5ErkJggg==");
}
body .btn-open-fs {
  display: block;
}
/* STORI FULL SCREEN MODE */
#stori-fs-mode.fs-open {
  display: block;
}

#stori-fs-mode {
  top: 0;
  left: 0;
  display: none;
  height: 100vh;
  font-family: monospace;
  font-size: 17px;
  /*background-color: #0D0D0D;*/
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAQAAAD8IX00AAAAE0lEQVR4AWNgYNgsvRlCgCgwBAA6YQXPi9F1OAAAAABJRU5ErkJggg==");
}

.t-pbar,
.b-pbar {
  display: none;
}
.t-pbar,
.b-pbar {
  height: 0;
}
.t-pbar .progress,
.b-pbar .progress {
  height: 2px;
  margin-left: -5px;
}
.b-pbar .progress {
  margin-top: -2px;
}
.pb-top .t-pbar {
  display: block;
}
.pb-bot .b-pbar {
  display: block;
}

/* .v-ui .t-pbar,
.v-ui .b-pbar,
.v-ui .l-sb,
.v-ui .r-sb { display: block; } */
.v-ui .btn-v-ui,
.h-ui .btn-h-ui {
  display: none !important;
}
.h-ui .t-pbar,
.h-ui .b-pbar,
.h-ui .l-sb,
.h-ui .r-sb,
.h-ui .btn-open-tools,
.h-ui .btn-open-options,
.h-ui .btn-save-load {
  display: none !important;
}

.panel-el-text {
  padding-left: 25px;
  line-height: 40px;
}
.panel-sep {
  width: calc(100% - 0px);
  padding-bottom: 15px;
  margin: 0 auto;
}
.btn-preset-m0 svg {
  margin: 0 auto;
}
/* ENS - STORI FULL SCREEN MODE */

/* STORI CONTAINER */
/* END - STORI CONTAINER */

/* TOOLS MENU */
.tools-open .tools-sb {
  right: 40px;
  opacity: 1;
}
.t-tsb,
.b-tsb {
  height: 40px;
  max-height: 40px;
}
.c-tsb {
  height: calc(100vh - 80px);
  overflow-x: hidden;
  overflow-y: auto;
}
/* END - TOOLS MENU */

/* OPTIONS MENU */
.options-open .options-sb {
  right: 40px;
  opacity: 1;
}
.t-osb,
.b-osb {
  height: 40px;
  max-height: 40px;
}
.c-osb {
  height: calc(100vh - 80px);
  overflow-x: hidden;
  overflow-y: auto;
}
/* END - OPTIONS MENU */

/* SAVE LOAD BAR */
.slb-open .save-load-bar {
  right: 40px;
  opacity: 1;
}
/* END SAVE LOAD BAR */

/* DEBUG */
.debug-bar {
  position: fixed;
  bottom: 45px;
  left: 40px;
  z-index: 100;
  display: none;
  width: calc(100% - 80px);
  max-width: max-content;
  max-height: calc(100vh - 50px);
  overflow: hidden;
  color: #ffffff;
  background-color: #333333;
}
.debug-open .debug-bar {
  display: block;
}
.debug-bar .col {
  padding: 8px;
  line-height: 1;
}
.debug-bar #debug-options {
  position: relative;
  max-height: calc(100vh - 150px);
  min-height: 60px;
  padding: 15px;
  overflow-y: auto;
}
#debug-options > div {
  width: 300px;
}
#debug-options span {
  float: right;
}
/* END - DEBUG */

/* COLOR PRESET */
.cpreset1 {
  color: #141414;
  background-color: #FFFFFF;
}
.cpreset2 {
  color: #141414;
  background-color: #FFF8DC;
}
.cpreset3 {
  color: #EEEEEE;
  background-color: #0D0D0D;
}
.cpreset4 {
  color: #A69174;
  background-color: #0D0D0D;
}
.cpreset5 {
  color: #EEEEEE;
  background-color: #3D475A;
}
.cpreset6 {
  color: #DFCE98;
  background-color: #3D475A;
}
.cpreset1 ::-webkit-scrollbar-thumb,
.cpreset2 ::-webkit-scrollbar-thumb {
  background-color: #141414;
}
.cpreset3 ::-webkit-scrollbar-thumb,
.cpreset5 ::-webkit-scrollbar-thumb {
  background-color: #EEEEEE;
}
.cpreset4 ::-webkit-scrollbar-thumb {
  background-color: #A69174;
}
.cpreset6 ::-webkit-scrollbar-thumb {
  background-color: #DFCE98;
}
.cpreset1 .rico.rib:hover:active:before,
.cpreset2 .rico.rib:hover:active:before {
  background-color: rgba(0,0,0,.1);
}
.cpreset3 .rico.rib:hover:active:before,
.cpreset4 .rico.rib:hover:active:before,
.cpreset5 .rico.rib:hover:active:before,
.cpreset6 .rico.rib:hover:active:before {
  background-color: rgba(255,255,255,.15);
}
.cpreset1 .rico.rib:hover:before,
.cpreset2 .rico.rib:hover:before {
  background-color: rgba(0,0,0,.03);
}
.cpreset3 .rico.rib:hover:before,
.cpreset4 .rico.rib:hover:before,
.cpreset5 .rico.rib:hover:before,
.cpreset6 .rico.rib:hover:before {
  background-color: rgba(255,255,255,.04);
}
.cpreset1 .progress {
  background-color: rgba(0,0,0, .08);
}
.cpreset2 .progress {
  background-color: rgba(0,0,0, .08);
}
.cpreset3 .progress {
  background-color: rgba(255,255,255, .08);
}
.cpreset4 .progress {
  background-color: rgba(255,255,255, .08);
}
.cpreset5 .progress {
  background-color: rgba(255,255,255, .08);
}
.cpreset6 .progress {
  background-color: rgba(255,255,255, .08);
}
.cpreset1 .progress-bar {
  background-color: rgba(0,0,0, .4);
}
.cpreset2 .progress-bar {
  background-color: rgba(0,0,0, .4);
}
.cpreset3 .progress-bar {
  background-color: rgba(255,255,255,1);
}
.cpreset4 .progress-bar {
  background-color: rgba(223,206,152, .5);
}
.cpreset5 .progress-bar {
  background-color: rgba(255,255,255, .7);
}
.cpreset6 .progress-bar {
  background-color: rgba(223,206,152, .7);
}
.cpreset1.tools-open .tools-sb,
.cpreset2.tools-open .tools-sb,
.cpreset1.options-open .options-sb,
.cpreset2.options-open .options-sb {
  background-color: rgba(0,0,0,.03);
}
.tools-open .tools-sb,
.options-open .options-sb {
  background-color: rgba(255,255,255,.04);
}
.cpreset1.tools-open .tools-sb,
.cpreset1.options-open .options-sb,
.cpreset1.slb-open .save-load-bar {
  background-color: #f7f7f7;
}
.cpreset2.tools-open .tools-sb,
.cpreset2.options-open .options-sb,
.cpreset2.slb-open .save-load-bar {
  background-color: #f7f1d8;
}
.cpreset3.tools-open .tools-sb,
.cpreset4.tools-open .tools-sb,
.cpreset3.options-open .options-sb,
.cpreset4.options-open .options-sb,
.cpreset3.slb-open .save-load-bar,
.cpreset4.slb-open .save-load-bar {
  background-color: #1f1f1f;
}
.cpreset5.tools-open .tools-sb,
.cpreset6.tools-open .tools-sb,
.cpreset5.options-open .options-sb,
.cpreset6.options-open .options-sb,
.cpreset5.slb-open .save-load-bar,
.cpreset6.slb-open .save-load-bar {
  background-color: #515969;
}
.cpreset1 .panel-sep,
.cpreset2 .panel-sep {
  border-top: 1px solid rgba(0,0,0,.15);
}
.cpreset3 .panel-sep,
.cpreset4 .panel-sep,
.cpreset5 .panel-sep,
.cpreset6 .panel-sep {
  border-top: 1px solid rgba(255,255,255,.15);
}
.btn-closed-tools.rico.rib:hover:before,
.btn-closed-options.rico.rib:hover:before,
.btn-closed-slb.rico.rib:hover:before {
  background-color: rgba(255,0,0,.45);
}
.btn-closed-tools.rico.rib:hover,
.btn-closed-options.rico.rib:hover,
.btn-closed-slb.rico.rib:hover {
  color: #eeeeee;
}
/* END - COLOR PRESET */


/* SCROLL BAR */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .1);
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(245, 245, 245, .05);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
::-webkit-scrollbar-thumb {
  /**/
  border-radius: 10px;
  background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}
/* END - SCROLL BAR */
